@model WebApplicationTest1Zoologico.Models.Animales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seccionesZoo.NombreSeccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seccionesZoo.NombreSeccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCientifico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamaño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamaño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaracteristicasEspeciales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaracteristicasEspeciales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RasgosDestacados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RasgosDestacados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTraslado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTraslado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraAlimentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraAlimentacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAlimentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAlimentacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
